*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .addExpenseForm form{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .addBtn{
        border-radius:5px;
       position: relative;
       top: 10px;
        width: 100px;
        margin: auto;
    }

    .costLabel{
        position: relative;
        right: 20px;
    }
}